body{
    background-color: #F6FCFF;
    background-image: url("/images/main_bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.character{
    width: 100%;
    max-width: 364px;
    /* isplay: block; img는 inline이므로 block으로 변경해야 가운데 정렬 적용됨 */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}