/* html에 적용된 기본 박스모델 reset처리 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    background-color: #171c3c;
    /* 카드UI가 웹브라우저의 수평과 수직의 중앙에 위치시키려면?*/
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:200px;
    height: 300px;
    background-color: #ed4848;
    position: relative;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
}

.card:hover{
    /* box-shadow: x y blur spread color */
    box-shadow: 0 0 0 100px rgba(255, 190, 0, 0.7)inset;
}

.card i{
    color: white;
    /* 카드아이콘이 웹브라우저의 수평과 수직의 중앙에 위치시키려면?*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -54px;
    /* transform: translate(-50%, -50%);는 왜 안되는걸까? */
    transition-property: all;
    transition-duration: 1s;
}

/* 숨겨둠 */
.card i:nth-of-type(1){
    transform: scale(0);
}
/* 나타남 */
.card:hover i:nth-of-type(1){
    transform: scale(1);
}
/* 숨겨둠 */
.card:hover i:nth-of-type(2){
    transform: scale(0);
}